@model IEnumerable<ClssLib.Mui_Giay>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ten_mui_giay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trang_thai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mo_ta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ten_mui_giay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trang_thai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mo_ta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
