@model WebBanGiay.ViewModel.SpEditView

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">

        <label asp-for="san_Pham.ten_san_pham" class="control-label"></label>
        <input asp-for="san_Pham.ten_san_pham" class="form-control" />
        <span asp-validation-for="san_Pham.ten_san_pham" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <div class="form-group col-md-4">
            <label asp-for="san_Pham.Chat_LieuID" class="control-label"></label>
            <select asp-for="san_Pham.Chat_LieuID" class="form-control" asp-items="ViewBag.Chat_LieuID"></select>
            <span asp-validation-for="san_Pham.Chat_LieuID" class="text-danger"></span>

        </div>
        <div class="form-group col-md-4">
            <label asp-for="san_Pham.Co_GiayID" class="control-label"></label>
            <select asp-for="san_Pham.Co_GiayID" class="form-control" asp-items="ViewBag.Co_GiayID"></select>
            <span asp-validation-for="san_Pham.Co_GiayID" class="text-danger"></span>

        </div>
        <div class="form-group col-md-4">
            <label asp-for="san_Pham.Danh_MucID" class="control-label"></label>
            <select asp-for="san_Pham.Danh_MucID" class="form-control" asp-items="ViewBag.Danh_MucID"></select>
            <span asp-validation-for="san_Pham.Danh_MucID" class="text-danger"></span>

        </div>
    </div>
    <div class="mb-3 row">

        <div class="form-group col-md-4">
            <label asp-for="san_Pham.De_GiayID" class="control-label"></label>
            <select asp-for="san_Pham.De_GiayID" class="form-control" asp-items="ViewBag.De_GiayID"></select>
            <span asp-validation-for="san_Pham.De_GiayID" class="text-danger"></span>

        </div><div class="form-group col-md-4">
            <label asp-for="san_Pham.Mui_GiayID" class="control-label"></label>
            <select asp-for="san_Pham.Mui_GiayID" class="form-control" asp-items="ViewBag.Mui_GiayID"></select>
            <span asp-validation-for="san_Pham.Mui_GiayID" class="text-danger"></span>

        </div><div class="form-group col-md-4">
            <label asp-for="san_Pham.Kieu_DangID" class="control-label"></label>
            <select asp-for="san_Pham.Kieu_DangID" class="form-control" asp-items="ViewBag.Kieu_DangID"></select>
            <span asp-validation-for="san_Pham.Kieu_DangID" class="text-danger"></span>

        </div>

    </div>
    <div class="form-group mb-3">
        <label asp-for="san_Pham.mo_ta" class="control-label">Mô Tả Sản Phẩm</label>
        <textarea asp-for="san_Pham.mo_ta" class="form-control"></textarea>
        <span asp-validation-for="san_Pham.mo_ta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" id="saveProduct" class="btn btn-primary" />
    </div>

</form>

<div id="productTables">
    <div class="mt-4" id="table-SPCT">
        <h4>Sản phẩm Chi Tiết</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Màu Sắc</th>
                    <th>Kích Cỡ</th>
                    <th>Số Lượng</th>
                    <th>Giá</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.spct)
                {
                    <tr>
                        <td>@item.Mau_Sac.ma_mau</td>
                        <td>@item.Kich_Thuoc.ten_kich_thuoc</td>
                        <td><input type="number" class="form-control quantity" value="@item.so_luong"></td>
                        <td><input type="number" class="form-control price" value="@item.gia"></td>
                        @item.trang_thai == 1 ? "
                        <td><button class='btn btn-success'>đang bán</button></td>" : "
                        <td><button class='btn btn-danger'>Ngừng bán</button></td>"
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>








@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
