@model IEnumerable<ClssLib.Hoa_Don>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">@ViewData["Title"] :</h2>
    <div class="header-sub-title">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dash list-inline">
                <li class="breadcrumb-item list-inline-item">
                    <i class="anticon anticon-home m-r-5"></i>
                    <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item active list-inline-item" aria-current="page">
                    @ViewData["Title"]
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="card shadow-sm rounded">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-8 d-flex align-items-center">
                
                <a asp-action="Create" class="btn btn-success ml-3">
                    <i class="fa fa-plus"></i> Thêm mới
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>Người đặt</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Tổng tiền</th>
                        <th>Ngày xuất hóa đơn</th>
                        <th>Nhân viên</th>
                        <th>Trạng thái đơn hàng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.dia_chi</td>
                            <td>@item.sdt_nguoi_nhan</td>
                            <td>@string.Format("{0:0,0} VND", item.tong_tien)</td>
                            <td>@item.thoi_gian_nhan_hang.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (item.trang_thai == 1)
                                {
                                    <span class="badge badge-primary p-2">Chờ xác nhận</span>
                                }
                                else if (item.trang_thai == 2)
                                {
                                    <span class="badge badge-warning p-2">Đang giao</span>
                                }
                                else if (item.trang_thai == 3)
                                {
                                    <span class="badge badge-success p-2">Hoàn thành</span>
                                }
                                else
                                {
                                    <span class="badge badge-secondary p-2">Chưa xác định</span>
                                }
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="HoaDon" asp-route-id="@item.ID" class="btn btn-info btn-sm">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal-@item.ID">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </td>
                            <form asp-area="Admin" asp-controller="HoaDon" asp-action="Delete" asp-route-id="@item.ID">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="deleteModal-@item.ID" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Xóa Đơn Hàng:</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <div class="warning">Bạn muốn xóa đơn hàng này?</div>
                                                <div class="text-danger ">Mã đơn hàng : @item.ID </div>
                                                <div class="text-danger ">
                                                    
                                                </div>
                                                <div class="text-danger ">Số điện thoại : @item.sdt_nguoi_nhan </div>
                                                <div class="text-danger ">Địa chỉ : @item.dia_chi </div>
                                                <div class="text-danger ">Tổng tiền : @item.tong_tien </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default btn-tone" data-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-danger btn-tone">Xóa</button>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#trangthaidonhang").change(function () {
                var trangthaidonhang = $(this).val();
                $.ajax({
                    url: '/Admin/AdminDonHangs/Filtter',
                    type: "GET",
                    data: { trangthai: trangthaidonhang },
                    success: function (results) {
                        if (results.status === "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function () {
                        alert('Lỗi tải dữ liệu');
                    }
                });
            });
        });
    </script>
}
