@model IEnumerable<ClssLib.San_Pham_Chi_Tiet>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.so_luong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trang_thai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngay_tao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngay_sua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kich_ThuocID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mau_SacID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.San_PhamID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.so_luong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trang_thai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngay_tao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngay_sua)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Kich_ThuocID)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Mau_SacID)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.San_PhamID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
